<app-admin-header></app-admin-header>
<div class="row mt-4">
  <div class="d-none d-md-block d-lg-block d-xl-block col-md-3 sidenav mt-4">
    <app-admin-sidenav></app-admin-sidenav>
  </div>
  <div class="offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12 mx-auto mt-5">
    <h2 class="mt-2 pt-3 text-center">View Details</h2>
    <div class="row mt-4">
      <div class="col-md-3">
        <img src="/assets/icons/userdummy.png" class="w-75">
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <label class="col-md-3 col-3">Name</label>
              <span>:</span>
              <div class="col-md-8 col-8">Abitha</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-md-3 col-3">Age</label>
              <span>:</span>
              <div class="col-md-8 col-8">20</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <label class="col-md-3 col-3">Dob</label>
              <span>:</span>
              <div class="col-md-8 col-8">04/5/2008</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-md-3 col-3">Ph.no</label>
              <span>:</span>
              <div class="col-md-8 col-8">9866446631</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <label class="col-md-3 col-3">Email</label>
              <span>:</span>
              <div class="col-md-8 col-8">abitha2411@gmail.com</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-md-3 col-3">Class</label>
              <span>:</span>
              <div class="col-md-8 col-8">2nd</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <label class="col-md-3 col-3">Height</label>
              <span>:</span>
              <div class="col-md-8 col-8">170cm</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-md-3 col-3">Weight</label>
              <span>:</span>
              <div class="col-md-8 col-8">56kg</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <label class="col-md-3 col-3">year of admin</label>
              <span>:</span>
              <div class="col-md-8 col-8">2019</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-md-3 col-3">Blood group</label>
              <span>:</span>
              <div class="col-md-8 col-8">o+ve</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
