<app-admin-header></app-admin-header>
<br>
 <div class="row mt-4 ">
   <div class="d-none d-md-block d-lg-block d-xl-block col-md-3 sidenav">
     <app-admin-sidenav></app-admin-sidenav> 
</div>
  <div class="col-md-9 col-sm-12 my-2 bg-light">
 <div class="row mt-5">
<div class="col-md-6 col-lg-3">
 <h1 class="text-center">Events</h1>
 <div class="icon">
<i class="fa fa-plus-square" aria-hidden="true" data-toggle="modal" data-target="#newModel"></i>
</div>
 <div class="btn">
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#newModel">
 Add Events</button></div>
<div id="newModel" class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-lg" role="document">
<div class="modal-content">

<form #form="ngForm" autocomplete="off">
  <div class="row p-2">
<div class="form-group col-md-4">
  <label for="EventName">EventName:</label>
<input name="eventName" #eventName="ngModel" [(ngModel)]="service.formData.eventName" class="form-control" placeholder="EventName" requiredm>
   </div>   
    
<div class="form-group col-md-4 ">
    <label for="EEventDate">EventDate:</label>
    <input type="date" [(ngModel)]="dateArrival" id="dateArrivalPicker" value="" name="dateArrival" class="form-control" placeholder="EventDate">
    </div>  
      
<div class="form-group col-md-4">
    <label for="EventCity">EventCity:</label>
  <input name="eventCity" #eventCity="ngModel" [(ngModel)]="service.formData.eventCity" class="form-control" placeholder="EventCity">
</div>
 
 </div>  
 <div class="row p-2">
  <div class="form-group col-md-4">
    <label for="EventCountry">EventCountry:</label>
  <input name="eventCountry" #eventCountry="ngModel" [(ngModel)]="service.formData.eventCountry" class="form-control" placeholder="eventCountry" >
     </div>   
     <div class="form-group col-md-4">
      <label for="EventCountry">EventCountry:</label>
    <input name="eventCountry" #eventCountry="ngModel" [(ngModel)]="service.formData.eventCountry" class="form-control" placeholder="eventCountry" >
       </div>  
    <div class="form-group col-md-4">
      <label for="MedalsWon">MedalsWon:</label>
      <input name="medalsWon" #medalsWon="ngModel" [(ngModel)]="service.formData.medalsWon" class="form-control" placeholder="MedalsWon
    ">
    
    <div class="btn1 mt-3">
      <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      
    </div>
    

  </div>
  
    
  
   </div>  

  
  </form>     