.sidenav{
    background-color: #232F3D;
    min-height:65vw;
}
.title{
    display: block;
    float: none;
    margin-left: 1rem;
    line-height: 25px;
}
.fa{
    margin-left: 3rem;
    font-size:1.5rem;

}
.modal-content{
   
    min-height: 40vh;
    
  }
  select{
    width: 15rem;
    min-height: 2.3rem;
}
.btn{
    margin-top: 0rem;
    margin-left: 1.3rem;
    width: 9vw;
}
.icon{
    margin-top: 1rem;
    margin-left: 0.9rem;
    position: absolute;
}
.modal-content{
    margin-top: 4rem;
}

div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
input.touched.ng-invalid{
    border-color: red;
}

