
.fa{
    margin-left: 3rem;
    font-size:1.5rem;

}
.modal-content{
   
    min-height: 40vh;
    margin-top: 4rem;
  }
  select{
    width: 15rem;
    min-height: 2.3rem;
}
.btn{
    margin-top: 0rem;
    margin-left: 1.3rem;
    width: 9vw;
}
.icon{
    margin-top: 1rem;
    margin-left: 0.9rem;
    position: absolute;
}


@media (min-width:300px) and (max-width:768px){
    .btn{
               width: 40vw;
    }
}