<div class="row sidenav">
    <ul class="navbar-nav navbar-sidenav mx-auto pr-5 mt-5" #exampleAccordion>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link mt-4" routerLink="/admin-dashboard">
                <i class="fa  fa-dashboard text-white text-center ml-5"></i>
                <span class="nav-link-text text-white title text-center">Dashboard</span>
            </a>
        </li>

        
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="exercise">
            <a class="nav-link mt-4" routerLink="/athlete">

                <i class="fa fa-user text-white text-center ml-5"></i>
                <span class="nav-link-text text-white title text-center">Register</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="exercise">
            <a class="nav-link mt-4" routerLink="/addschedule">

                <i class="fa fa-calendar text-white text-center ml-5"></i>
                <span class="nav-link-text text-white title text-center">Add-Schedule</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="viewdetails">
            <a class="nav-link mt-4" routerLink="/viewdetails">
                <i class="fa  fa-dashboard text-white text-center ml-5"></i>
                <span class="nav-link-text text-white title text-center">Performance</span>
            </a>
        </li>
       
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="workout">
            <a class="nav-link mt-4" routerLink="/workout">
                <i class="fa  fa-dashboard text-white text-center ml-5"></i>
                <span class="nav-link-text text-white title text-center">Add-Workout</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="events">
            <a class="nav-link mt-4" routerLink="/add-events">
                <i class="fa fa-calendar text-white text-center ml-5"></i>
                <span class="nav-link-text text-white title text-center">Add-Events</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="events">
            <a class="nav-link mt-4" routerLink="/Studentview">
                <i class="fa fa-dashboard text-white text-center ml-5"></i>
                <span class="nav-link-text text-white title text-center">Exercise Detail</span>
            </a>
        </li>
        
    </ul>
</div>