<nav class="navbar navbar-expand-lg col-md-10 col-12 navbg mx-auto d-none d-lg-block">
    <div class="row">
        <div class="col-md-4 col-4 text-left">
            <img src="assets/icons/img.png">
        </div>
        <div class="col-md-4 col-4 text-center">
            <img src="/assets/icons/logo6.png">
            <h4 class="text-white float-right my-3" routerLink="/admin-dashboard">Admin</h4>
        </div>
        
        <div class="col-md-4 col-4 text-right">
               
            <div *ngIf="auth.user | async as user">
                <img [src]="user.photoURL" class="rounded-circle img" (click)="auth.signOut()">
            </div>
        </div>
    </div>
</nav>
<!-- navbar for phone -->

<nav class="navbar fixed-top navbar-dark bg-primary navph d-lg-none">
    <a class="navbar-brand" href="#"> <img src="/assets/icons/img.png" class="mt-2"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="navbar-collapse collapse" id="collapsingNavbar">
         <ul class="navbar-nav">
             <li class="nav-item ">
                 <a routerLink="/admin-dashboard" class="text-white">Dashboard</a>
             </li>
             <li class="nav-item">
                <a routerLink="/addschedule" class="text-white">Add-Schedule</a>
            </li>
            <li class="nav-item">
               <a routerLink="/viewdetails" class="text-white">Performance</a>
           </li>
           <li class="nav-item">
               <a routerLink="/workout" class="text-white">Add-Workout</a>
           </li>
            <li class="nav-item">
                <a routerLink="/add-events" class="text-white">Add-Events</a>
            </li>
            <li class="nav-item">
                   <a routerLink="/athlete" class="text-white">Athlete Register</a>
               </li>
            
         </ul>
         
     </div>
  </nav>
