<app-admin-header></app-admin-header>
<div class="row">
  <div class="d-none d-lg-block d-xl-block col-lg-3 sidenav mt-4">
    <app-admin-sidenav></app-admin-sidenav>
  </div>
  <div class="col-lg-9 col-sm-12 my-2 bg-light">
    <h1 class="text-center mt-5 pt-3">Add-Workout</h1>
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
      <div class="row">
        <div class="col-lg-12 col-12 text-center">
<!--                   
            <mat-list-item>
                <mat-form-field>
                    
                    <mat-select placeholder="Athlete Names" name="Athlete1" class="filter-select" [(ngModel)]="Athlete1" 
                        multiple >
                        <mat-option [value]="exe.fullName" *ngFor="let exe of list" class="form-control" name="Athlete1" id="Athlete1" #Athlete1="ngModel"
                            [(ngModel)]="service.formexercise.Athlete1">

                            {{exe.fullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-list-item> -->
        </div>
        <!-- <div class="col-lg-6 col-12">
            <label>Athlete Name</label><br>
            <mat-list-item>
                    <mat-form-field>
                        
                        <mat-select placeholder="Athlete Names" name="Athlete1" class="filter-select" [(ngModel)]="Athlete1" 
                            multiple >
                            <mat-option [value]="exe.fullName" *ngFor="let exe of list" class="form-control" name="Athlete1" id="Athlete1" #Athlete1="ngModel"
                                [(ngModel)]="service.formexercise.Athlete1">

                                {{exe.fullName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
        </div> -->
         <div class="col-lg-6 col-12 text-center">
         
          <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="Date" #Date="ngModel" [(ngModel)]="service.formworkout.Date"  class="form-control hasDatepicker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-12 text-center">
        <mat-list-item>
                <mat-form-field>
                    <mat-select placeholder="Athlete Names" name="Athlete1" class="filter-select" [(ngModel)]="Athlete1" multiple>
                        <mat-option [value]="exe.fullName" *ngFor="let exe of list" class="form-control" name="Athlete1" id="Athlete1" #Athlete1="ngModel"
                            [(ngModel)]="service.formexercise.Athlete1">

                            {{exe.fullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-list-item>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-12">
                <label>Workout 1</label>
                <input type="text" class="form-control" name="Workout1" id="Workout1" placeholder="Workout1" #Workout1="ngModel" [(ngModel)]="service.formworkout.Workout1">
            </div>
            <div class="col-lg-6 col-12">
                <label>Workout 2</label>
                <input type="text" class="form-control" name="Workout2" id="Workout2" placeholder="Workout2" #Workout2="ngModel" [(ngModel)]="service.formworkout.Workout2">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-12">
                <label>Workout 3</label>
                <input type="text" class="form-control" name="Workout3" id="Workout3" placeholder="Workout3" #Workout3="ngModel" [(ngModel)]="service.formworkout.Workout3">
            </div>
            <div class="col-lg-6 col-12">
                <label>Workout 4</label>
                <input type="text" class="form-control" name="Workout4" id="Workout4" placeholder="Workout4" #Workout4="ngModel" [(ngModel)]="service.formworkout.Workout4">
            </div>
         
                                   
        </div>
        <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Workout 5</label>
                    <input type="text" class="form-control" name="Workout5" id="Workout5" placeholder="Workout5" #Workout5="ngModel" [(ngModel)]="service.formworkout.Workout5">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Workout 6</label>
                    <input type="text" class="form-control" name="Workout6" id="Workout6" placeholder="Workout6" #Workout6="ngModel" [(ngModel)]="service.formworkout.Workout6">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Workout 7</label>
                    <input type="text" class="form-control" name="Workout7" id="Workout7" placeholder="Workout7" #Workout7="ngModel" [(ngModel)]="service.formworkout.Workout7">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Workout 8</label>
                    <input type="text" class="form-control" name="Workout8" id="Workout8" placeholder="Workout8" #Workout8="ngModel" [(ngModel)]="service.formworkout.Workout8">
                </div>
            </div>
            <div class="row mt-2">
                    <div class="col-lg-6 col-12">
                        <label>Workout 9</label>
                        <input type="text" class="form-control" name="Workout9" id="Workout9" placeholder="Workout9" #Workout9="ngModel" [(ngModel)]="service.formworkout.Workout9">
                    </div>
                    <div class="col-lg-6 col-12">
                        <label>Workout 10</label>
                        <input type="text" class="form-control" name="Workout10" id="Workout10" placeholder="Workout10" #Workout10="ngModel" [(ngModel)]="service.formworkout.Workout10">
                    </div>
                </div>
        <div class="row">
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary mx-auto mt-5">Submit</button>
        </div>

      </form>
      </div>
  </div>
