<app-admin-header></app-admin-header>
<div class="row">
  <div class="d-none d-lg-block d-xl-block col-lg-3 sidenav mt-4">
    <app-admin-sidenav></app-admin-sidenav>
  </div>
  <div class="col-lg-9 col-sm-12 my-2 bg-light">
    <h1 class="text-center mt-5 pt-3">Add-Schedule</h1>
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
      <div class="row">
        <div class="col-lg-6 col-12">
          <label>Date and Time</label><br>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar fa"></i></span>
            <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" name="Date" #Date="ngModel" [(ngModel)]="service.formworkout.Date"  class="form-control hasDatepicker"
              placeholder="Date & Time">
            <owl-date-time #dt></owl-date-time>
          </div>
        </div>
        <div class="col-lg-6 col-12">
            <label>Athlete Name</label><br>
            <select  name="Name" #Name="ngModel" [(ngModel)]="service.formworkout.Name" class="form-control">
                <option value="Gayathri">Gayathri</option>
                <option value="Swathi">Swathi</option>
                <option value="Abitha">Abitha</option>
                <option value="Sindhu">Sindhu</option>
            </select>
        </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-12">
                <label>Workout 1</label>
                <input type="text" class="form-control" name="Workout1" id="Workout1" placeholder="Workout1" #Workout1="ngModel" [(ngModel)]="service.formworkout.Workout1">
            </div>
            <div class="col-lg-6 col-12">
                <label>Workout 2</label>
                <input type="text" class="form-control" name="Workout2" id="Workout2" placeholder="Workout2" #Workout2="ngModel" [(ngModel)]="service.formworkout.Workout2">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-12">
                <label>Workout 3</label>
                <input type="text" class="form-control" name="Workout3" id="Workout3" placeholder="Workout3" #Workout3="ngModel" [(ngModel)]="service.formworkout.Workout3">
            </div>
            <div class="col-lg-6 col-12">
                <label>Workout 4</label>
                <input type="text" class="form-control" name="Workout4" id="Workout4" placeholder="Workout4" #Workout4="ngModel" [(ngModel)]="service.formworkout.Workout4">
            </div>
        </div>
        <div class="row">
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary mx-auto mt-5">Submit</button>
        </div>

      </form>
      </div>
  </div>
