.sel{
    width:25vw;
}
<<<<<<< HEAD
.modal-content {
    width: 60vw;
    height: 50vh;
}
.form-control{
    width: 20vw;
}
=======

>>>>>>> c3be0981f4b9c7ea3cacd87251f3d44f8c9521ba
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .sel{
        width:40vw;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .sel{
        width:25vw;
    }
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
  
    border: 1px solid rgba(0,0,0,.125);
    width: 24vw;
}