<app-navbar></app-navbar>
<div class="container">
  <div class="row col-md-6 mt-5 mx-auto">
<div class="col-md-12 col-12 ">
  <label>ChooseAthleteName:</label><br>
 <select #medalswon="ngModel" name="medalswon" [(ngModel)]="service.formadd.medalswon" class="form-control" >
    <option value="Swathi">Swathi</option>
    <option value="Sindhu">Sindhu</option>
    <option value="Gayathri">Gayathri</option>
    <option value="Abitha">Abitha</option>
    <option value="Deepa">Deepa</option>
    <option value="Saranya">Saranya</option>
    <option value="Durga">Durga</option>
    <option value="Sai">Sai</option>
</select>
  </div>
</div>
</div>
