aeve{
    width:50vw;
}
.dem{
    background-color: red;
}
.mat-tab-body-content{
    overflow: none;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
.tabs{
    margin-top: 3rem;
}
}