aeve{
    width:50vw;
}
.box{
    padding: 1rem;
}
.dem{
    background-color: red;
}
.mat-tab-body-content{
    overflow: none;
}
  .box:empty {
  display:none;
  }
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
.tabs{
    margin-top: 4rem;
}
}