<app-navbar></app-navbar>
<div class="offset-lg-2 col-lg-12 mx-auto mt-5">
<table class="table table hover table-striped ">
  <thead>
    <th>Name</th>
    <th>Date & Time</th>
    <th>Distance</th>
    <th>Tag1</th>
    <th>Tag2</th>
    <th>Tag3</th>
    <th>Tag4</th>
    <th>Tag5</th>
    <th>Tag6</th>
    <th>Tag7</th>
    <th>Tag8</th>
    <th>Tag9</th>
    <th>Tag10</th>
  </thead>
  <tbody>
    <tr *ngFor="let exe of list">
      <td >{{exe.Name}}</td>
      <td >{{exe.Date}}</td>
      <td >{{exe.Distance}}</td>
      <td >{{exe.Tag1}}</td>
      <td >{{exe.Tag2}}</td>
      <td >{{exe.Tag3}}</td>
      <td >{{exe.Tag4}}</td>
      <td >{{exe.Tag5}}</td>
      <td >{{exe.Tag6}}</td>
      <td >{{exe.Tag7}}</td>
      <td >{{exe.Tag8}}</td>
      <td >{{exe.Tag9}}</td>
      <td >{{exe.Tag10}}</td>
    </tr>
  </tbody>
</table>
</div>