.date{
    position: absolute;
    background: #dc8816;
    color: #fff;
}
.event{
    background-color: lightgrey;
    height: 25vh;
    width: 29vw;
    padding:1rem;
}
.head{
    margin-left: -7rem;
    margin-top: 1rem;
}
.map{
    margin-left: 8rem;
    margin-top: 0rem;
}
.para{
    margin-top: -1.3rem;
    margin-left: 1rem;
}

