<app-admin-header></app-admin-header>
<!-- <app-admin-sidenav></app-admin-sidenav> -->
<div class="row">
    <div class="offset-lg-2 offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12  mx-auto">
        <form>
            <div class="row mt-5 pt-5">
                <div class="col-lg-5 col-12">
                    <label>Name</label>
                    <input type="text" [(ngModel)]="Name" class="form-control" name="name" id="name" placeholder="Name" required>
                </div>

                <div class="col-lg-4 col-12">
                    <label>Date and Time</label><br>
                    <div class="input-group">
                        <span [owlDateTimeTrigger]="dt2" class="input-group-addon"><i class="fa fa-calendar fa"></i></span>
                        <input type="text" [owlDateTime]="dt2" placeholder="Date & Time" class="form-control hasDatepicker">
                        <owl-date-time #dt2></owl-date-time>
                    </div>
                </div>
                <div class="col-lg-3 col-12 dropdown">
                    <label>Distance</label><br>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Distance
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag1</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Tag1" required>
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag2</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Tag2" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag3</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Tag3" required>
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag4</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Tag4" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag5</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Tag5" required>
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag6</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Tag6" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag7</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Tag7" required>
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag8</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Tag 8" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag9</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Tag 9" required>
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag10</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Tag 10" required>
                </div>
            </div>
            <input type="submit" value="Add a Post" (click)="addPost()">
            <ul *ngFor="let name of posts | async">
                <li (click)="getPost(name.id)">
                    <strong>{{ name.data.title}}</strong> (<a href="#" (click)="deletePost(post.id)">delete</a>)
                    <br> {{name.data.content}}
                </li>
            </ul>
        </form>
    </div>
</div>