<app-admin-header></app-admin-header>
<div class="row">
    <div class="d-none d-lg-block d-xl-block col-lg-3 sidenav mt-4">
        <app-admin-sidenav></app-admin-sidenav>
    </div>
    <div class="col-lg-9 col-sm-12 my-2 bg-light">
        <h1 class="text-center mt-5 pt-3">Add-Schedule</h1>
        <button type="button" class="btn btn-info float-right mb-5" [routerLink]="['/exercisedetail']" >Edit</button>
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                <div class="col-md-6 mx-auto" *ngIf="showMsg" >
                        <p class="alert alert-success">
                                <strong>Add Schedule added Successfully!</strong> 
                  
                            </p>
                        </div>
            <div class="row">
                <div class="col-lg-5 col-12">
                    <label>Exercise Name</label>
                    <input type="text" name="ExerciseName" #Name="ngModel" [(ngModel)]="service.formexercise.ExerciseName" class="form-control"
                        placeholder="Exercise Name">
                </div>
                <div class="col-lg-4 col-12">
                    <label>Date and Time</label><br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar fa"></i></span>
                        <input type="date" name="Date" #Date="ngModel" [(ngModel)]="service.formexercise.Date" class="form-control hasDatepicker"
                            placeholder="Date & Time">
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <label>Distance</label><br>
                    <select #Distance="ngModel" name="Distance" [(ngModel)]="service.formexercise.Distance" class="form-control">
                        <option value="100">100 Meter</option>
                        <option value="200">200 Meter</option>
                        <option value="300">300 Meter</option>
                        <option value="1600">1600 Meter</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Rest</label>
                    <input type="text" class="form-control" name="Rest" id="Rest" placeholder="Rest" #Rest="ngModel" [(ngModel)]="service.formexercise.Rest">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Notes</label>
                    <textarea rows="2" name="Notes" id="Notes" class="form-control" placeholder="Notes" #Notes="ngModel" [(ngModel)]="service.formexercise.Notes"></textarea>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                        <div *ngFor="">
                                <input [formControlName]="i" placeholder="City">
                              </div>
                    <label>Tag1</label>
                    <!-- <select [(ngModel)]="studentName">

                                <option [value]="exe.fullName" *ngFor="let exe of list" class="form-control">{{exe.fullName}}</option>
                                 </select> -->
                    <input type="text" class="form-control" name="Tag1" id="Tag1" placeholder="Tag1" #Tag1="ngModel" [(ngModel)]="service.formexercise.Tag1">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag2</label>
                    <input type="text" class="form-control" name="Tag1" id="Tag1" placeholder="Tag2" #Tag2="ngModel" [(ngModel)]="service.formexercise.Tag2">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag3</label>
                    <input type="text" class="form-control" name="Tag1" id="Tag1" placeholder="Tag3" #Tag3="ngModel" [(ngModel)]="service.formexercise.Tag3">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag4</label>
                    <input type="text" class="form-control" name="Tag1" id="Tag1" placeholder="Tag4" #Tag4="ngModel" [(ngModel)]="service.formexercise.Tag4">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag5</label>
                    <input type="text" class="form-control" name="Tag1" id="Tag1" placeholder="Tag5" #Tag5="ngModel" [(ngModel)]="service.formexercise.Tag5">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag6</label>
                    <input type="text" class="form-control" name="Tag1" id="Tag1" placeholder="Tag6" #Tag6="ngModel" [(ngModel)]="service.formexercise.Tag6">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag7</label>
                    <input type="text" class="form-control" name="Tag1" id="Tag1" placeholder="Tag7" #Tag7="ngModel" [(ngModel)]="service.formexercise.Tag7">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag8</label>
                    <input type="text" class="form-control" name="Tag1" id="Tag1" placeholder="Tag8" #Tag8="ngModel" [(ngModel)]="service.formexercise.Tag8">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag9</label>
                    <input type="text" class="form-control" name="Tag1" id="Tag1" placeholder="Tag9" #Tag9="ngModel" [(ngModel)]="service.formexercise.Tag9">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag10</label>
                    <input type="text" class="form-control" name="Tag10" id="Tag10" placeholder="Tag10" #Tag10="ngModel" [(ngModel)]="service.formexercise.Tag10">
                </div>
            </div>
            <div class="col-lg-6 col-12 text-center">
                    <mat-list-item>
                            <mat-form-field>
                                <mat-select placeholder="Athlete Names" name="Athlete1" class="filter-select" [(ngModel)]="Athlete1" multiple>
                                    <mat-option [value]="exe.fullName" *ngFor="let exe of list" class="form-control" name="Athlete1" id="Athlete1" #Athlete1="ngModel"
                                        [(ngModel)]="service.formexercise.Athlete1">
            
                                        {{exe.fullName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-list-item>
                        </div>
            <div class="row">
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary mx-auto mt-5">Submit</button>
            </div>
        </form>
    </div>
</div>