<app-admin-header></app-admin-header>
<div class="row mt-4">
    <div class="d-none d-md-block d-lg-block d-xl-block col-md-3 sidenav mt-4">
        <app-admin-sidenav></app-admin-sidenav>
    </div>
    <div class="col-md-9 col-sm-12 my-2 bg-light">
        <h1 class="text-center mt-5 pt-3">Add-Schedule</h1>
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <label>Exercise Name</label>
                    <input type="text" name="ExerciseName" #Name="ngModel" [(ngModel)]="service.formexercise.ExerciseName" class="form-control"
                        placeholder="Exercise Name">
                </div>
                <div class="col-lg-4 col-12">
                    <label>Date and Time</label><br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar fa"></i></span>
                        <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" name="Date" #Date="ngModel" [(ngModel)]="service.formexercise.Date" class="form-control hasDatepicker"
                            placeholder="Date & Time">
                        <owl-date-time #dt></owl-date-time>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <label>Distance</label><br>
                    <select #Distance="ngModel" name="Distance" [(ngModel)]="service.formexercise.Distance" class="form-control">
                        <option value="100 Meter">100 Meter</option>
                        <option value="200 Meter">200 Meter</option>
                        <option value="300">300 Meter</option>
                        <option value="1600">1600 Meter</option>
                    </select>

                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Rest</label>
                    <input type="text" class="form-control" name="Rest" id="Rest" placeholder="Rest" #Rest="ngModel" [(ngModel)]="service.formexercise.Rest">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Notes</label>
                    <textarea rows="2" name="Notes" id="Notes" class="form-control" placeholder="Notes" #Notes="ngModel" [(ngModel)]="service.formexercise.Notes"></textarea>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag1</label>
                    <input type="text" class="form-control" name="Tag1" id="Tag1" placeholder="Tag1" #Tag1="ngModel" [(ngModel)]="service.formexercise.Tag1">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag2</label>
                    <input type="text" class="form-control" name="Tag2" id="Tag2" placeholder="Tag2" #Tag2="ngModel" [(ngModel)]="service.formexercise.Tag2">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag3</label>
                    <input type="text" class="form-control" name="Tag3" id="Tag3" placeholder="Tag3" #Tag3="ngModel" [(ngModel)]="service.formexercise.Tag3">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag4</label>
                    <input type="text" class="form-control" name="Tag4" id="Tag4" placeholder="Tag4" #Tag4="ngModel" [(ngModel)]="service.formexercise.Tag4">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag5</label>
                    <input type="text" class="form-control" name="Tag5" id="Tag5" placeholder="Tag5" #Tag5="ngModel" [(ngModel)]="service.formexercise.Tag5">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag6</label>
                    <input type="text" class="form-control" name="Tag6" id="Tag6" placeholder="Tag6" #Tag6="ngModel" [(ngModel)]="service.formexercise.Tag6">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag7</label>
                    <input type="text" class="form-control" name="Tag7" id="Tag7" placeholder="Tag7" #Tag7="ngModel" [(ngModel)]="service.formexercise.Tag7">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag8</label>
                    <input type="text" class="form-control" name="Tag8" id="Tag8" placeholder="Tag 8" #Tag8="ngModel" [(ngModel)]="service.formexercise.Tag8">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-12">
                    <label>Tag9</label>
                    <input type="text" class="form-control" name="Tag9" id="Tag9" placeholder="Tag 9" #Tag9="ngModel" [(ngModel)]="service.formexercise.Tag9">
                </div>
                <div class="col-lg-6 col-12">
                    <label>Tag10</label>
                    <input type="text" class="form-control" name="Tag10" id="Tag10" placeholder="Tag 10" #Tag10="ngModel" [(ngModel)]="service.formexercise.Tag10">
                </div>
            </div>
            <div class="row">
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary mx-auto mt-3">Submit</button>
            </div>


        </form>
    </div>
</div>