<div class="container">
    <app-navbar></app-navbar>
    <div class="row event1">
        <div class="offset-md-3 col-md-5 col-12 my-2 mx-auto">
            <h3 class=" head1 text-white text-uppercase p-5 ml-5 mt-2">upcoming events</h3>
        </div>
        <div class="row ml-5 mb-5">

            <div class="col-md-4 col-12">
                <div class="box">
                    <p class="para text-white text-center p-4 mr-5">
                        <span>Organized by:</span>
                        <span> Simply Logic</span>
                    </p>
                    <h4 class="para1 text-center p-3 ">Special Training for athlete at SG Technology</h4>
                    <div class="map">
                        <i class="fa fa-map-marker p-4 ml-4" aria-hidden="true"></i>
                    </div>
                    <p class="para2 text-white text-center">291 South 21th Street, Suite 721 New York NY 10016</p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="box">
                    <p class=" para text-white  text-center p-4 mr-5">
                        <span>Organized by:</span>
                        <span> Simply Logic</span>
                    </p>
                    <h4 class="para1 text-center p-3 ">Special Training for athlete at SG Technology</h4>
                    <div class="map">
                        <i class="fa fa-map-marker p-4 ml-4" aria-hidden="true"></i>
                    </div>
                    <p class="para2 text-white text-center">291 South 21th Street, Suite 721 New York NY 10016</p>

                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="box">
                    <p class=" para text-center text-white p-4 mr-5">
                        <span>Organized by:</span>
                        <span> Simply Logic</span>
                    </p>
                    <h4 class="para1 text-center p-3 ">Special Training for athlete at SG Technology</h4>
                    <div class="map">
                        <i class="fa fa-map-marker p-4 ml-4" aria-hidden="true"></i>
                    </div>
                    <p class="para2 text-white text-center">291 South 21th Street, Suite 721 New York NY 10016</p>

                </div>
            </div>
        </div>
    </div>