@media screen and (max-width: 768px) { 
	 .event1 {
	background-image: url('/assets/icons/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 90vh;
	margin-top: -1rem;
		} }
		.event1 {
			background-image: url('/assets/icons/bg.png');
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 90vh;
			margin-top: -1rem;
				}
		@media screen and (max-width: 768px) { 
		
		.box{
			height:59vh;
		width: 73vw;
		background-color: rgba(22, 9, 60,.30);
		
		margin-top:7rem;
		}}
		.box{
			height:50vh;
		width: 21vw;
		background-color: rgba(22, 9, 60,.30);
		
		margin-top:7rem;
		}
		
		
		@media screen and (max-width: 768px) { 
		.para1{
			margin-top: -1rem;
			color:#F79431;
		}
		.para{
			color:#F79431;
			font-weight: bolder
		}
		.map{
			font-size:20px;
	
			color:#F79431;
		}
		.para2{
		
			color: #e54b01;
			font-size: 1rem;
			text-align: center;
			margin-left: -46px;
		}
		.head1{
			margin-top: 10px;	}
		}
		.para1{
			margin-top: 1rem;
			color:#F79431;
			margin-right: 19px;
		}
		.para{
			color:#F79431;
			font-weight: bolder
		}
		.map{
			font-size:20px;
	
			color:#F79431;
		}
		.para2{
			color:#e54b01;
			font-size: 15px;
			text-align: center;
			margin-left: -46px;
			margin-top: 20px;
		}
		.head1{
			margin-top: 10px;	}
			.gap{
				padding: 7px;
			}
			.gap2{
				padding-right: 20px;
				margin-left: 4rem;
			}
	

	
		

