<div class="container">
  <app-navbar></app-navbar>
<div class="row event1">
    <div class="offset-md-3 col-md-5 col-12 my-2 mx-auto">
        <h3 class=" head1 text-white text-uppercase p-5 ml-5 mt-2">upcoming events</h3>
    </div>
   <div class="row ml-5 mb-5">
    
      <div class="col-md-4 col-xl-4 col-12">
          <div class="box">
              <p class="para text-white text-center pt-5 mr-5 mt-5"><span>Organized by:</span> 
                <span class="gap"> Simply Logic</span></p>
                    <h4 class="para1 text-center p-3 ">Special Training for athlete at SG Technology</h4>
                    <div class="map">
                  </div>
                    <p class="para2 text-white text-center"><i class="fa fa-map-marker p-4 ml-4" aria-hidden="true"></i>291 South 21th Street,New Colony Road <span class="gap2"> Jagath Complex,Chrompet Chennai</span></p>

         
            </div>
        </div>
        <div class="col-md-4 col-xl-4 col-12">
                <div class="box">
                    <p class="para text-white text-center pt-5 mr-5 mt-5"><span>Organized by:</span> 
                        <span class="gap"> Simply Logic</span></p>
                            <h4 class="para1 text-center p-3 ">Special Training for athlete at SG Technology</h4>
                            <div class="map">
                          </div>
                            <p class="para2 text-white  text-center"><i class="fa fa-map-marker p-4 ml-4" aria-hidden="true"></i>291 South 21th Street, New Colony Road <span class="gap2"> Jagath Complex,Chrompet Chennai</span></p>
                 
                    </div>
                </div>
              <div class="col-md-4 col-xl-4 col-12">
                    <div class="box">
                        <p class=" para text-center text-white pt-5 mr-5 mt-5"><span>Organized by:</span> 
                          <span class="gap"> Simply Logic</span></p>
                              <h4 class="para1 text-center p-3 ">Special Training for athlete at SG Technology</h4>
                              <div class="map">
                            
                              <p class="para2 text-white text-center"><i class="fa fa-map-marker p-4 ml-4" aria-hidden="true"></i>291 South 21th Street,New Colony Road <span class="gap2 pr-2"> Jagath Complex,Chrompet Chennai</span></p>
          
                      </div>
                  </div>
     
          
           
     
   
</div>
</div>