<app-admin-header></app-admin-header>
<br>
<div class="row mt-4 ">
    <div class="d-none d-md-block d-lg-block d-xl-block col-md-3 sidenav">
        <app-admin-sidenav></app-admin-sidenav>
    </div>
    <div class="col-md-9 col-sm-12 my-2 bg-light mx-auto">
        <div class="row mt-5">
            <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
                <div class="row mx-auto">
                    <div class="form-group  col-md-6">
                        <input name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" class="form-control" id="name" placeholder="Full name"
                            required>
                        <div *ngIf="fullName.invalid && fullName.touched" class="validation-error">This field is required.</div>
                    </div>
                    <div class="form-group col-md-6">
                        <input name="phone" #phone="ngModel" [(ngModel)]="service.formData.phone" class="form-control" id="phone" placeholder="phone">
                    </div>
                </div>

                <div class="row mx-auto">
                    <div class="form-group col-md-6">
                        <input name="email" #email="ngModel" [(ngModel)]="service.formData.email" class="form-control" id="email" placeholder="email">
                    </div>
                    <div class="form-group col-md-6">
                        <input name="dob" #dob="ngModel" [(ngModel)]="service.formData.dob" class="form-control" id="dob" placeholder="Dob">
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="form-group col-md-6">
                        <input name="class" #class="ngModel" [(ngModel)]="service.formData.class" class="form-control" id="class" placeholder="class">
                    </div>
                    <div class="form-group col-md-6 ">
                        <input name="yearofadmin" #yearofadmin="ngModel" [(ngModel)]="service.formData.yearofadmin" class="form-control" id="yearofadmin"
                            placeholder="yearofadmin">
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="form-group col-md-6">
                        <input name="bloodgroup" #bloodgroup="ngModel" [(ngModel)]="service.formData.bloodgroup" class="form-control" id="bloodgroup"
                            placeholder="bloodgroup">
                    </div>
                    <div class="form-group col-md-6 ">
                        <input name="height" #height="ngModel" [(ngModel)]="service.formData.height" class="form-control" id="height" placeholder="height">
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="form-group col-md-6">
                        <input name="weight" #weight="ngModel" [(ngModel)]="service.formData.weight" class="form-control" id="weight" placeholder="weight">

                    </div>
                    <div class="form-group col-md-6 ">
                        <input name="age" #age="ngModel" [(ngModel)]="service.formData.age" class="form-control" id="age" placeholder="age">
                    </div>
                </div>
                <div class="row ">
                    <div class="form-group col-md-12 text-center mt-5">
                        <button type="submit" [disabled]="form.invalid" class="btn btn-md btn1  btn-info mx-auto">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>