<div class="topnav col-md-12  d-none d-lg-block">
        <nav class="navbar fixed-top navbar-dark top-header">
            <div class="row">
    
                <div class="logo-area">
                    <img src="/assets/icons/img.png" class="mt-3 ml-5">
    
                </div>
                <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="collapsingNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Athlete <span class="sr-only">Athlete</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#exercise">Exercise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#myAlert" data-toggle="collapse">Wow</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">Report</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="r4_counter wid-stats db_box">
                        <div class="stats-data">
                            <div class="stats">
                                <div class="pull-left pagetitle ">
                                    <span class="line"></span>
                                    <h1>Dashboard</h1>
    
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a [routerLink]="['/athlete']"><i class="fa fa-user"></i><span class="text-white pl-2">Register</span></a>
            <!-- <a [routerLink]="['/athlete']"><i class="fa fa-registered"></i></a> -->
            <img src="/assets/icons/logo6.png" class="mt-2 profile">
    
    
        </nav>
    </div>
    <nav class="navbar fixed-top navbar-dark bg-primary navph d-lg-none">
            <a class="navbar-brand" href="#"> <img src="/assets/icons/img.png" class="mt-2"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                 <span class="navbar-toggler-icon"></span>
             </button>
             <div class="navbar-collapse collapse" id="collapsingNavbar">
                 <ul class="navbar-nav">
                     <li class="nav-item active">
                         <a class="nav-link" href="#">Home <span class="sr-only">Home</span></a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#features">Features</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#myAlert" data-toggle="collapse">Wow</a>
                     </li>
                 </ul>
                 <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                         <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">About</a>
                     </li>
                 </ul>
             </div>
          </nav>
