<div class="row">
  <div class="offset-lg-2 offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12 header mx-auto">
    <div class="rectangle mx-auto">
      <div class="row">
        <img src="/assets/icons/logo6.png" class="mx-auto mt-5">
      </div>
      <div class="row">
        <img src="/assets/icons/img.png" class="mx-auto ml-5">
      </div>
      <form #loginform="ngForm" (ngSubmit)="login(email.value, password.value)">
        <p class="text-white">Enter your email address and we'll send you password reset email.</p>
        <div class="mt-2">
          <div class="row mx-auto">
            <div class="col-lg-1 col-1">
              <span class="iconsawe mb-2"> <i class="fa fa-user fa-md text-white"></i></span>
            </div>
            <div class="col-lg-10 col-10">
              <input type="text" name="email" class="form-control text-white" id="email" placeholder="Email" [(ngModel)]="model.email"
                #email="ngModel" [ngClass]="{ 'is-invalid': email.touched && email.invalid }" required email>
              <div *ngIf="email.touched && email.invalid" class="invalid-text">
                <div *ngIf="email.errors.required" class="text-danger">Email is required</div>
                <div *ngIf="email.errors.email" class="text-danger">Email must be a valid email address</div>
              </div>
            </div>
            <div class="row mx-auto">
                <button type="button" class="btn mt-5 text-white" value="submit">Reset password</button>
            </div>

          </div>
        </div>
      </form>
    </div>
   
  </div>
