.header{
    background-image: url('/assets/icons/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.rectangle{
    height:50vh;
    width: 25vw;
    background-color: rgba(22, 9, 60,.30);
    margin-top:8rem;
}


.btn{

    background-color: #f79431;
 
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .rectangle{
        height: 56vh;
        width: 65vw;
        background-color:  rgba(22, 9, 60,.30);
        margin-top:6rem;
    }
    .btn{
        margin-left:2rem;

    }
    
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .rectangle{
        height: 35vh;
        width: 41vw;
        background-color:  rgba(22, 9, 60,.30);
        margin-top:12rem;
    }
    .btn{
        margin-left:4rem;

    }
}