.header{
    background-image: url('/assets/icons/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.rectangle{
    height:50vh;
    width: 25vw;
    background-color: rgba(22, 9, 60,.30);
    margin-top:8rem;
}


.btn{

    background-color: #f79431;
 
}
@media (min-width:300px) and (max-width:768px){
    .rectangle{
        height: 50vh;
        width: 65vw;
        background-color:  rgba(22, 9, 60,.30);
        margin-top:6rem;
    }
    .btn{
        margin-left:2rem;

    }
    
}