<div class="row header">
    <div class="rectangle mx-auto">
      <div class="row">
          <img src="/assets/icons/logo6.png" class="mx-auto mt-5">
      </div>
      <div class="row">    
          <img src="/assets/icons/img.png" class="mx-auto ml-5">
      </div>
      <form class="offset-lg-2 col-lg-8 col-md-12 col-xs-12 col-sm-12" #loginform="ngForm" (ngSubmit)="login(email.value, password.value)">
      <div class="form-group mt-2">
          <div class="row line w-50 mx-auto">
                <p class="error text-center">{{ error.message }}</p>
              <span class="iconsawe"> <i class="fa fa-user fa-md text-white"></i></span>
              <input type="text" name="name" class="form-control text-white" id="name" placeholder="Username">         
          </div>
    
          <div class="row line w-50 mx-auto">
              <span class="iconsawe"> <i class="fa fa-unlock-alt fa-md text-white"></i></span>
              <input type="password" name="name" class="form-control text-white" id="name" placeholder="password">         
          </div>
          <div class="row">
              <button type="button" class="btn mx-auto mt-5 text-white">SIGN-IN</button>
          </div>
      </div>
      </form>
        </div>
    </div>