.header{
    background-image: url('/assets/icons/loginbg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.rectangle{
    height:70vh;
    width: 40vw;
    background-color: rgba(22, 9, 60,.30);
    
    margin-top:7rem;
}
#name {
    background: transparent;
    border:none;
    position: absolute;
    height: 30px;
    margin: 0px 10px; 
}
.line{
    position: relative;
    height:35px;
    border-bottom: 1px solid #fff
}
input::placeholder{
    color: #fff
}
.iconawe{
    margin-bottom: 10px;
}
.btn{
    border-radius: 20px;
    background-color: #f79431;
 
}
@media (min-width:300px) and (max-width:750px){
    .rectangle{
        height: 60vh;
        width: 60vw;
        background-color:  rgba(22, 9, 60,.30);
        margin-top:7rem;
    }
    
}