<app-admin-header></app-admin-header>
  <br>
  <div class="row mt-4 ">
        <div class="d-none d-lg-block d-xl-block col-lg-3 sidenav mt-4">
                <app-admin-sidenav></app-admin-sidenav>
            </div>
            <div class="col-md-9 col-sm-12  ">
                <div class=" d-none d-lg-block d-md-block ">
                    <div class="row mt-5">
                       
                                                    <img src="/assets/icons/dashboard.png" class="dash mx-auto mt-5" height="500" width="600" usemap="#mapfun">
                                                    <map name="mapfun" class="img1">
                                                        <area shape="rect" coords="19,268,202,228" href="events">
                                                        <area shape="rect" coords="250,120,340,150" href="student"> 
                                                        <area shape="rect" coords="150,350,350,400" href="reports">  
                                                        <area shape="rect" coords="290,268,460,250" href="exercise">
                                                       
                                                      </map>
                                                </div>
                                            </div>
                                                <div class="col-md-12 col-12 text-center mt-3 pt-5 d-lg-none d-md-none">
                                                    <img src="/assets/icons/dashboardph.png" class="mt-2 mx-auto" height="500" width="320" usemap='#mapfunph'>
                                                    <map name="mapfunph" class="img2">
                                                        <area shape="rect" coords="0,248,142,228"  href="events">
                                                        <area shape="rect" coords="150,80,200,200" href="student"> 
                                                        <area shape="rect" coords="80,300,300,380" href="reports">  
                                                        <area shape="rect" coords="200,200,380,250" href="exercise">
                                                       
                                                    </map>
                                                </div>
                                            </div>
                                            
                                       
                                </div>
                